.formOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2E2E2EB2;
  transition: all 0.2s ease 0.1s;
  z-index: 3;
}

.formModal {
  max-width: 406px;
  box-shadow: 0px 20px 40px 0px #275F9E33;
  background: #FFFEFE;
  border-radius: 10px;
}

.formModalContainer {
  padding: 50px;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.show {
  opacity: 1;
  visibility: visible;
}