.inputContainer {
  position: relative;
}

.input {
  width: 100%;
  padding: 15px 20px 15px 55px;
  border-radius: 30px;
  background-color: #F8F8F8;
}

.inputError {
  outline: 1px solid #EB5757;
}

.input:focus {
  color: #1E2123;
  outline: 2px solid #664EF9CC;
}

.input:focus + .inputSvg {
  opacity: 1;
  fill: #664EF9;
}

.input:focus::placeholder {
  color: transparent;
}

.inputSvg {
  fill: #686868;
  position: absolute;
  opacity: 0.3;
  top: 15px;
  left: 20px;
  width: 17px;
  height: 17px;
}

.errorSvg {
  fill: #EB5757;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 13px;
  right: 15px;
}

.errorMessage {
  display: block;
  width: 100%;
  margin-top: 15px;
}