@import url('../../commonstyles.module.css');

.filterSection {
  composes: section;
  max-width: 1300px;
  margin: 0 auto;
  box-shadow: 0px 20px 40px 0px #877CCA26;
  border-radius: 0px 0px 40px 40px;
}

.filterContainer {
  max-width: 1062px;
  padding: 82px 0 118px;
  margin: 0 auto;
}

.title {
  color: #ffffff;
  text-align: center;
  font: 700 30px/36px Inter;
  text-shadow: 0px 2px 5px 0px #000E8E4D;
  margin-bottom: 50px;
}

.titleColored {
  color: #FFD54F;
}

.filterList {
  display: flex;
  list-style-type: none;
}

.filterListItem {
  padding: 13px 20px;
  border-radius: 10px 10px 0px 0px;
  font: 600 14px/17px Inter;
  color: #ffffff;
  background-color: #2D398880;
  cursor: pointer;
}

.filterListItem:hover {
  background: rgba(45, 57, 136, 0.7);
}

.activeItem {
  color: var(--linkColor);
  background-color: #ffffff;
}

.activeItem:hover {
  background-color: #ffffff;
}

.filterContent {
  background-color: #ffffff;
  display: flex;
  border-radius: 0 10px 10px 10px;
}

.filterItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 15px 20px 20px;
  color: var(--darkTextColor);
  font: 500 14px/17px Inter;
}

.filterItemWrapper {
  display: flex;
  justify-content: center;
}

.filterItem:not(:last-of-type)::after {
  position: absolute;
  right: 0;
  top: 15px;
  content: '';
  width: 1px;
  height: 68px;
  opacity: 0.1;
  background-color: var(--linkColor);
}

.filterTitle {
  color: #BDBDBD;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
}

.option {
  background: #F8F8F8;
  border-radius: 20px;
}

.optionBordered {
  border: 2px solid #664EF9CC;
}

.indicatorSeparator {
  display: none;
}

.dropdownIndicator {
  color: var(--linkColor);
  width: 18px;
  height: 18px;
}

.priceInputContainer {
  display: flex;
  align-items: center;
  gap: 4px;
}

.input {
  padding: 9px 14px;
  color: var(--greyTextColor);
  font: 400 14px/17px Inter;
  border-radius: 20px;
  background: #F8F8F8;
  width: 80px;
}

.input:focus::placeholder {
  color: transparent;
}

.inputHyphen {
  color: #4E64F9;
  line-height: 14px;
}

.settingsSvg {
  width: 18px;
  height: 18px;
  margin-left: 5px;
}

.mapSvg {
  width: 12px;
  height: 15px;
  margin-left: 5px;
  fill: var(--linkColor);
}

.btnSvg {
  width: 19px;
  height: 19px;
  margin-left: 5px;
}

.filterBtn {
  composes: button;
  color: #242424;
  background: #FFD54F;
  border-radius: 22px;
  margin-top: auto;
  margin-bottom: auto;
}

.filterBtn:hover {
  background: #FEC100;
}