@import url('../../commonstyles.module.css');

.postSection {
  position: relative;
}

.postSection::before {
  content: '';
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 280px;
  background: linear-gradient(90deg, #94AFFF 0%, #4E64F9 94.5%);
  opacity: 0.1;
  z-index: -1;
}

.postContainer {
  color: var(--darkTextColor);
  max-width: 844px;
  margin: 0 auto;
}

.postTitle {
  font: 700 30px/30px Inter;
  margin-bottom: 30px;
}

.shareContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  font: 400 14px/17px Inter;
}

.postDate {
	background: var(--opacityBgColor);
	padding: 10px 16px;
	border-radius: 18px;
	color: var(--linkColor);
	font-weight: 500;
}

.postImgContainer {
  position: relative;
}

.postImg {
  max-width: 100%;
  height: auto;
  filter: drop-shadow(0px 20px 40px rgba(39, 95, 158, 0.1));
  border-radius: 10px;
  margin-bottom: 40px;
}

.postImgContainer::before {
  content: '';
  background: url(/svg/yellowSquare.svg);
  display: block;
  width: 70px;
  height: 70px;
  left: -110px;
  position: absolute;
  top: 80px;
}

.postContent {
  font: 400 16px/24px Inter;
  margin-bottom: 20px;
}