:root {
  --linkColor: #664EF9;
  --warningColor: #EB5757;
  --greyTextColor: #686868;
  --darkTextColor: #1E2123;
  --opacityBgColor: #664EF91A;
  -swiper-navigation-size: 18px;
}

.section {
  background: linear-gradient(0deg, #7E6AF3 1.04%, #6540CD 100%);  
  position: relative;
  z-index: 2;
}

.homePageTitle {
  color: #000000;
  font: 700 25px/30px Inter;
}

.gradientSubtitle {
  background: linear-gradient(90deg, #9D94FF 0%, #6B50E9 94.5%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  text-transform: uppercase;
  margin-bottom: 15px;
  font: 700 14px/17px Inter;
}

.buttonLink {
  display: inline-block;
  background-color: #FFD54F;
  border-radius: 33px;
  padding: 12px 24px;
  font: 700 16px/24px Inter;
  color: var(--darkTextColor);
  text-decoration: none;
  cursor: pointer;
}

.button {
  display: flex;
  margin: 0 auto;
  align-items: center;
  gap: 10px;
  padding: 10px 18px;
  color: var(--darkTextColor);
  font: 600 14px/17px Inter;
  border-radius: 19px;
  cursor: pointer;
  text-decoration: none;
}

.square::before {
  content: '';
  position: absolute;
  width: 70px;
  height: 70px;
  background-image: url(/svg/square.svg);
}

.yellowSquare::before {
  content: '';
  position: absolute;
  width: 70px;
  height: 70px;
  background-image: url(/svg/yellowSquare.svg);
}

.sectionGradient::before {
  content: '';
  background: linear-gradient(90deg, #94AFFF 0%, #4E64F9 94.5%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.1;
  z-index: -1;
}

.section::after {
  content: "";
  display: block;
  background: url(/img/city.png) no-repeat center;
  background-size: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.3;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.formModal {
  margin: 0 auto;
  box-shadow: 0px 20px 40px 0px #275F9E33;
  background: #FFFEFE;
  border-radius: 10px;
}

.modalTitle {
  color: #000000;
  font: 700 25px/30px Inter;
  margin-bottom: 20px;
  text-align: center;
}

.modalText {
  color: #686868;
  font: 400 14px/17px Inter;
  margin-bottom: 30px;
  text-align: center;
}

.modalButton {
  display: block;
  cursor: pointer;
  width: 100%;
  margin: 0 auto;
  background-color: #FFD54F;
  text-decoration: none;
  border-radius: 33px;
  text-align: center;
  color: #1E2123;
  font: 700 16px/24px Inter;
  padding: 12px 0;
}

.modalButton:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.paginationList {
	display: flex;
	gap: 3px;
	list-style-type: none;
}

.paginationListItem {
	height: 22px;
	color: var(--greyTextColor);
	font: 400 18px/22px Inter;
	padding: 0 5px;
	text-align: center;
	cursor: pointer;
}

.active {
	color: #000000;
	border-bottom: 2px solid #FFD54F;
}

.socials {
  display: flex;
  align-items: center;
  gap: 15px;
}

.socialsList {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

.socialsItem {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--opacityBgColor);
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.socialsSvg {
  width: 17px;
  height: 17px;
  fill: var(--linkColor);
}